@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

:root{
  --main-color: #4169e1;
  --secondary-color: white;
  --tertiary-color: black;
}

body{
  font-family: 'Sansita Swashed', cursive;
}

.liam_contact_info{
  display:flex;
  justify-content: center;
}

.liam_contact_info #phone_num{
  border-right: 2px dotted var(--main-color);
  padding-right: 10px;
}

.liam_contact_info #email_addr{
  padding-left: 10px;
}

.nav{
  position: sticky;
  top: 0;
  background-color: var(--main-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  z-index: 1;
  border-bottom: 2px solid var(--secondary-color);
  /*box-shadow: 0px 0px 7px var(--secondary-color);*/
}

.siteTitle{
  position: relative;
  bottom: .3rem;
  font-size: 2rem;
  text-shadow: 1px 2px var(--tertiary-color);
  transition: background-color 200ms ease-in-out;
}

.siteTitle:hover{
  background-color: #7f96d8;
  padding-left: .2rem;
  padding-right: .2rem;
  border-radius: 5px;
}

.nav_links{
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items:center;
  text-shadow: 1px 1px var(--tertiary-color);
  transition: background-color 200ms ease-in-out;
}

.nav_link:hover{
  background-color: #7f96d8;
  border-radius: 6px;
  animation: 150ms;
} 

.dropDown{
  position: relative;
}

.dropDown_menu{
  position: absolute;
  top:100%;
  left:0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.dropDown_link{
  padding: .5rem;
  pointer-events:all;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: .24rem;
}

.dropDown > #project_link:focus + .dropDown_menu{
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.dropDown_menu:hover .dropDown_link{
  visibility: visible;
}

.dropDown_link:hover{
  background-color: rgba(0, 0, 0, 0.8);
}


/*@keyframes fade_in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}*/

#home_title{
  display: flex;
  justify-content: center;
  border-bottom: 2px dotted var(--main-color);;
  padding-bottom: 20px;
  color: var(--main-color);
}

/*@keyframes btn_slide{
  from{
    transform: translateX(-500px);
  }
  to{
    transform: translateX(0);
  }
}*/

#home_introImg{
  position: relative;
  max-width: 100%;
  height: auto;
  width: auto\9;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.home_title{
  position: absolute;
  top: 70%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(0, 0, 0, .5);
  border-radius: 1rem;
}

#home_nameTitle{
  color: var(--main-color);
  font-size: 5rem;
  text-shadow: 2px 3px var(--secondary-color);
}

#home_rhyme{
  color: var(--main-color);
  font-size: 3rem;
  text-shadow: 2px 3px var(--secondary-color);
}

.homeTitle_btn{
  width: 5rem;
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem;
  border: 2px solid var(--secondary-color);
  box-shadow: 0 0 7px var(--main-color);

}

.homeTitle_btn:hover{
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

#homeTitle_btnContainer{
  display: flex;
  justify-content: space-around;
}

.home_aboutContainer{  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  padding: 1rem;
}

.home_imgContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:.5rem;
  padding-right:.5rem;
}

.home_imgItem{
  width: 32%;
  height: auto;
  margin: .5rem;
}

#home_aboutBtn{
  position:relative;
  left: 50%;
  transform: translate(-100%);
}

.home_btns:hover{
  background-color: var(--secondary-color);
  color: var(--main-color);
}

#intro_about_text{
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color:var(--secondary-color);
  animation: fade_in linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}

#intro_resume_text{
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color:var(--secondary-color);
  animation: fade_in linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}

#intro_contact_text{
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color:var(--secondary-color);
  animation: fade_in linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 20%;
}

#about_title{
  font-size: xx-large;
  color: var(--main-color);
  text-shadow: 1px 1px var(--tertiary-color);
  display: flex;
  justify-content: center;
  border-bottom: 2px dotted var(--main-color);
  padding-bottom: 20px;
}
.about_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--tertiary-color);
  border-radius: 1rem;
  margin: 1rem;
  padding: .5rem;
}

.about_container div{
  background-color: var(--main-color);
  border-radius: 1rem;
  margin: 1rem;
}

.about_text{
  margin: 20px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size:x-large;
}

.about_imgGal{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about_imgGal img{
  background-color: var(--tertiary-color);
  box-shadow: 0 0 7px var(--secondary-color);
  width: 45%;
  height: auto;
  object-fit: cover;
  padding: .3rem;
  margin: 1rem;
  border-radius: 1rem;
}

/*#about_imgCol1 img{
  background-color: var(--secondary-color);
  border-radius: 1rem;
  margin: 1rem;
  padding: .5rem;
}

#about_imgCol2 img{
  background-color: var(--secondary-color);
  border-radius: 1rem;
  margin: .5rem;
  padding: .5rem;
}*/


#resume-title{
  font-size: xx-large;
  color: var(--main-color);
  text-shadow: 1px 1px var(--tertiary-color);
  display: flex;
  justify-content: center;
  border-bottom: 2px dotted var(--main-color);
  margin: 10px;
  padding: 10px;
}

#resume{
  width: 100%;
  height: 600px;
}

#cont_title{
  font-size: xx-large;
  color: var(--main-color);
  text-shadow: 1px 1px var(--tertiary-color);
  display: flex;
  justify-content: center;
  border-bottom: 2px dotted var(--main-color);
  margin: 10px;
  padding: 10px;
}

#contact_form_container{
  background-color: var(--main-color);
  height: 60%;
  width: 30%;
  display: block;
  margin: auto;
  padding: 10px;
  border: .3rem solid var(--tertiary-color);
  border-radius: 10px;
}

#contact_form_container label{
  color:var(--secondary-color);
  display: block;
}

#contact_form_container input{
  font-family: 'Sansita Swashed', cursive;
  display: block;
  font-size: large;
}

#contact_form_container textarea{
  width: 100%;
}

#sub_btn{
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: .4rem;
  padding: .3rem;
  pointer-events: all;
  box-shadow: 0 0 7px var(--secondary-color);
}

#sub_btn:hover{
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
}

#project-title{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  color: var(--main-color);
  text-shadow: 1px 1px var(--tertiary-color);
  border-bottom: 2px dotted var(--main-color);
  padding-bottom: 20px;
}

.sec-1{
  background-color: var(--tertiary-color);
  padding: 1rem;
  margin: .5rem;
  border-radius: 1rem;
}

#pro1-sec1-title{
  font-size: xx-large;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  text-shadow: 1px 2px var(--main-color);
}

.textWindow1-sec1{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size:x-large;
}

.textWindow-sec1 iframe{
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 20px;
  padding: 1rem;
  box-shadow: 0px 0px 7px var(--tertiary-color);
}

.sec-4{
  background-color: var(--tertiary-color);
  padding: 1rem;
  margin: .5rem;
  border-radius: 1rem;
}

#pro1-sec4-title{
  font-size: xx-large;
  color: var(--secondary-color);
  text-shadow: 1px 2px var(--main-color);
  display: flex;
  justify-content: center;
}

#textWindow1-sec4{
  display: flex;
  justify-content:space-around;
  margin: 20px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size:x-large;
}

#textWindow1-sec4 img{
  height: 500px;
  width: 300px;
  padding: 5px;
}

#textWindow1-sec4 p{
  width: 50%;
}

.carousel{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides{
  border-radius: .5rem;
  box-shadow: 0px 0px 7px var(--tertiary-color);
  width: 100%;
  height: 100%;
}

.slides-hidden{
  display: none;
}

.arrow{
  position:absolute;
  width: 2rem;
  height: 2rem;
  color: var(--secondary-color);
  filter: drop-shadow(0px 0px 7px var(--tertiary-color));
}

.arrow:hover{
  cursor: pointer;
}

.arrow-left{
  left:1rem;
}

.arrow-right{
  right: 1rem;
}

.indicators{
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator{
  background-color: var(--secondary-color);
  height: .5rem;
  width: .5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 .2rem;
  filter: drop-shadow(0px 0px 7px var(--tertiary-color));
}

.indicator-inactive{
  background-color: var(--tertiary-color);
}

.sec-2{
  background-color: var(--tertiary-color);
  padding: 1rem;
  margin: .5rem;
  border-radius: 1rem;
}

#pro1-sec2-title{
  font-size: xx-large;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  text-shadow: 1px 2px var(--main-color);
}

.textWindow1-sec2{
  display: flex;
  justify-content:space-around;
  margin: 20px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size:x-large;
}

.textWindow1-sec2 p{
  width: 50%;
}

.picsWindow1-sec2 img{
  border-radius: 1rem;
}

#pro2-sec2-title{
  font-size: xx-large;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  text-shadow: 1px 2px var(--main-color);
}

#textWindow2-sec2{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size:x-large;
}

#textWindow2-sec2 p{
  width: 50%;
}

.sec-3{
  background-color: var(--tertiary-color);
  padding: 1rem;
  margin: .5rem;
  border-radius: 1rem;
}

#pro1-sec3-title{
  font-size: xx-large;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  text-shadow: 1px 2px var(--main-color);
}

.textWindow1-sec3{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size:x-large;
}

.textWindow1-sec3 p{
  width:50%;
}

#contactForm_note{
  display: flex;
  justify-content: center;
  color: red;
}

