@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

body{
  font-family: 'Sansita Swashed', cursive;
  margin: 0;
}

.nav{
  background-color: #4169e1;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.siteTitle{
  font-size: 2rem;
}

.nav ul{
  padding: 0;
  margin: 10;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
}

.nav li.active{
  background-color: #4169e309;
}

.nav li:hover{
  background-color: #7f96d8;
}
